@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat);
// Add your custom CSS here


/* 
COLORS
   light grey: #EEEEEE;
   dark grey: #999999;;
   green: #C4D425;
   */
/* COMMON */
body {
	font-family: 'EB Garamond', serif;  
}
img {
    display: block;
    margin: 0 auto;
    padding: relative;
    max-width: 100%;
    max-height: 100%;
}

#content a:hover {
	color: #C4D425;
}
	/* PAGE NAVIGATION */


input[name=page]{
	width: 25px;
}
a[rel=next]{
	font-size: 1.5em;
	font-weight: bolder;
}
a[rel=prev]{
	width: 25px;
	font-size: 1em;
	font-weight: bolder;
}
.page-input {
	float: left;
	margin-right: 30px;
}
.r-page {
	text-align: right;
}
.rb-page {
	text-align: right;
	margin-right: 260px;
}
table td, th, td { 
	border-left:10px solid #fff;
	border-bottom:10px solid #fff; 
	padding: 10px;
	border-radius: 4em;
}

/* LINK COLOR FOR BODY */
#content a {
	color: #000;
}
/* HEADER */

h2.about {
	text-align: center;
	font-family: 'EB Garamond', serif;
	margin: 1em 0 1em 0;
	border: groove 10px #eee;
}
h4.text-center {
	margin-bottom:0; 
	font-size:3em; 
	text-align: center; 
	padding:0 0 1em 0;
	color: #000;
	text-transform: uppercase;
	font-family: 'EB Garamond', serif;
}
h3.text-center {
	margin-bottom:0; 
	margin-top: -10px;
	font-size:1.75em; 
	text-align: center; 
	padding:0 0 1em 0;
	color: #fff;
	font-style: italic;
	font-family: 'EB Garamond', serif;
}
/*.page-header > h3 {
	border-bottom: 1px solid #999999;
	left: 50%;
}*/

h5 {
	font-size: 1.5em;
}
.banner {
	background: #000;
} 
.banner a:hover {
	color: #fff;
	text-decoration: none;
}

	/*font-size: 1em;  SIZE OF TEXT IN NAVBAR */

/* INDEX */
.iconx {
	display: inline-block;
} 
/* CAROUSEL CAPTION HEADING */
.carousel-caption h4 {
	margin-bottom:0; 
	font-size:1.5em; 
	text-align: center; 
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'EB Garamond', serif;
	text-shadow: 2px 2px #000;
}



/* ABOUT SECTION ON INDEX */

.about-section {
	font-size: 1.5em;
	font-family: 'EB Garamond', serif;
	margin:3em 3em 0 3em; 
}
/* BROWSE ITEMS DISPLAY */
.browse-items {
	text-align: center;	
	float: left;
	/*background: #eeeeee;*/
	height: 425px;
	font-family: 'EB Garamond', serif;
	text-transform: capitalize;
	font-size: 1.5em;
	margin: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.browse-items a {
	text-decoration: none;
}

/* SEARCH RESULTS DISPLAY */
.browse-items.search {
	margin: 5px 5px 0 0;
	padding: 5px;
	width: 280px;
	border-top: solid #eee .8em;
	    
}
/* COLLECTIONS DISPLAY */
.browse-items.cllec {
	margin: 5px 5px 0 0;
	
	padding: 5px;
	width: 280px;
	height: 355px;
	border-top: solid #eee .8em;
}
/*  ITEMS ON SHOW PAGE  */
	
	/* FOR ITEM NAV BAR */
.proper {
	font-family: 'Montserrat', serif;
	color: #33333;
	border-radius: 2px;
	margin: 10px;
}
.proper a {
	text-decoration-line: none;
}
.proper a:link {
	background: #eee;
	color: #fff;
}
#tombstone {
	height: 350px;	
	overflow-y: scroll;
}
/*CREATES TABLE ON TOMBSTONE */
.category {
	background: #eeeeee;
	font-family: 'Montserrat', serif;
	float: left;
	/*text-indent: .5em;*/
	margin: .25em;
	vertical-align: middle;
	width: 100%;
}
.category a:link {
	text-decoration: underline;
}
/* TITLE OF ITEM */
.item-title {
	font-family: 'EB Garamond';
	font-size: 2em;
	color:#000;
	font-style: italic;
	text-transform: capitalize;
}
.item-collection {
	font-family: 'Montserrat';
	font-size: 1.15em;
	color:#000;
	text-transform: uppercase;
	text-decoration: underline;
}
.row.collections {
	float: left;
	margin: 0 auto;
}
.hanging {
	margin-left:1.5em;
    text-indent:-1.5em;
    padding-top: 2em;
}
.cite-dialog {
	vertical-align: middle;
	font-size: 1em;
	border: 10px;
	padding: 10px;
}
/* SOCIAL ITEMS ON SHOW.PHP */
.share img{
	padding: 0 6px;
    float: left;
    width: 19.9999%;
}
/* DOWNLOAD BUTTONS */
.btn-show {
	width: 360px;
	text-transform: uppercase;
	text-align: center;
	padding: 3px;
	margin: 3px 0 3px 0;
	background: #999999;
	color: #fff;
}
.license {
	font-family: 'EB Garamond', serif;
	font-size: 1.15em;
}
		/* STYLES STORY TAB ON ITEM PAGE */
#Story {
	font-family: 'Montserrat', serif;
	font-variant: normal;
	text-align: left;
	background: #eeeeee;
	border-radius: 4px;
	font-size: 1.1em;
	padding: 20px;
	height: 400px;
	overflow: scroll;
}
#Resources {
	font-family: 'Montserrat', serif;
	font-variant: normal;
	text-align: left;
	background: #eeeeee;
	border-radius: 4px;
	font-size: 1.1em;
	padding: 20px;
	height: 400px;
	overflow: scroll;
}
/* TAGS */
.tags {
  list-style: none;
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
}
.tags li {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  width: 150px;
  margin: 5px;
  font-size: 1em;
  color: #fff;
  background-color: #c4d425;
  border-radius: 5px;

}
.element-text.tags {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	margin: 20px;
	padding: 10px;
}
/* FOOTER */
.ath-foot {
	width: 100%;
	background: black;
	color: white;
}
.ath-foot > img {
	margin: auto 0;	
}
/* LEFT */
/*.footer-athena {
	margin: 0 auto;
	margin-right: -300px;
	padding-top: 55px;
}*/

.gen-info {
	font-family: 'EB Garamond', serif;
	color: #fff;
	float: right;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}

/* RIGHT FOOTER */
.social {
	text-align: center;
	background: #000;
	padding-bottom: 10px;
}

/*.news {
	margin-bottom: 45px;
	position: absolute;
	left: 145px;
}*/
 		
		/* SOCIAL IMAGE ALIGNMENT */

/*.icon1 {
    display: inline-block;
    z-index: 100;   
    top: 60%;
    transform: translate(-50%, -50%);
}      
.icon2 {
    display: inline-block;
    z-index: 100;
    top: 60%;
    transform: translate(-50%, -50%);
    padding-right:40px;
    padding-left: 40px;
}      
.icon3 {
	display: inline-block;
    z-index: 100;    
    top: 60%;
    transform: translate(-50%, -50%);
}*/
.srch {
	position: absolute;
	left: 130px;
	margin: 170px -25px 10px 0px;

}

/* BOTTOM LINE WITH OMEKA */
.ath-top {
	background: black;
	font-family: 'EB Garamond', serif;
	font-size: 1.45em;
	text-align: center;
	padding-top: 15px;	
}
.ath-btm {
	width: 100%;
	background: black;
	font-family: 'EB Garamond', serif;
	font-size: 1.35em;
	text-align: center;
	padding-top: 10px;
	border-top: 1px solid #EEEEEE;	
}
.sidenav {
    width: 45px;
    float: left;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #000;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}
.navbar-fixed-side-left {
  left: 0;
}




/* FOR STYLIZING TAGS 
.btn-tags {
	background: #eeeeee;
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 1.5em;
	padding: .25em;
	margin: 2px;
	}*/
/* METADATA mods 
.mods {
  float: left;
  height: 100%;
  padding-left: 125px;
}
.mods li {
  display: inline;
}
.modsButton {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  width: 150px;
  margin: 5px;
  font-size: 1.25em;
  color: #fff;
  background-color: #e6e6e6;
  color: #red;
  border-radius: 5px;
}
.mods-dialog {
	overflow: scroll;
	height: 750px;
}
.modsButton li > a:hover,
.modsButton li > a:focus {
  text-decoration: none;
  background-color: #C4D425;
}
.bracket {
	float: left;
	text-align: left;
	width: 100%;
	}
.related-items {
	background: #eeeeee;
	font-family: 'Montserrat', serif;
	float: left;
	margin: .25em;
	vertical-align: middle;
	width: 100%;
	border: .5px solid ##red;
}
.related-items img {
	margin: 0 auto;
	width: 200px;
	padding: 20px;
}*/ 




