@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat);
/* Add your custom CSS here

/* 
COLORS
   light grey: #EEEEEE;
   dark grey: #999999;;
   green: #C4D425;
   */
/* COMMON */
* {
    border: 1px solid gold;
}
html {
    font-family: 'Montserrat', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;

}
h2 { /* for subheading of header */
    margin-bottom: 0;
    margin-top: -10px;
    font-size: 1.75em;
    text-align: center;
    padding: 0 0 1em;
    color: #fff;
    font-style: italic;
    font-family: 'EB Garamond', serif;
}
.banner {
    background: #000;
}
a.banner {
    color: white;
    text-decoration: none;
}
.banner a:hover {
    color: #fff;
    text-decoration: none;
}
.flex-container {
    width: 82%;
    margin: auto;
}
.navbar {
    background-color: #999999;
    color: #fff;
}
a.navbar{
    padding: 15px;
    color: #fff;
}
.btn-green {
    background-color: #C4D425;
     color: #fff;
}